.rango {
    display: inline-block;
}

.roles {
    width: 90%;
    display: inline-block;
    margin: 0 0 0 15px;
}

.etuque {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
} 

input#slider_price1, input#slider_price2 {
	 writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 175px;
    padding: 0 5px;
    margin: 1px;
    padding: 3px 5px;
    margin-left: 15px;
}
.accordion-toggle:hover {
    background-color: #909090;
}
label.wcts_tax_control {
    font-size: 2em;
    padding: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.accordion-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 10px 5px 16px 10px;
    background-color: #7b7b7b;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #FFF;
    border-bottom: 3px solid #a2a2a2;
}

.accordion-content {
    overflow: auto;
    padding: 0.9em;
    border-style: solid;
    border-width: 1px;
    border-color: #DFDFDF;
    display: none;
    background-color: white;
}
.accordion-content.default {
    display: block;
}

.acordion {
    margin-top: 1em;
    box-shadow: 0px 0px 20px -2px;
}

