.wcstt-cc{
    overflow: hidden;
}
 
ul.wcstt-ulcc {
    margin: 0;
    width: 25%;
    float: left;
    line-height: 1em;
    padding: 0 0 10px;
    position: relative;
    background-color: #fafafa;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}
.wcstt-ccul {
list-style: none;
}
.wcstt-ulcc li {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

ul.wcstt-ulcc li a {
    margin: 0;
    padding: 10px;
    display: block;
    box-shadow: none;
    text-decoration: none;
    line-height: 20px!important;
    border-bottom: 1px solid #eee;    
}

ul.wcstt-ulcc li.active {
  background-color: #f0efef;
}
ul.wcstt-ulcc li {
padding: 5px;
-moz-border-radius: 3px 3px 0 0;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-khtml-border-top-left-radius: 3px;
-khtml-border-top-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
.wcstt-ulcc a {
text-decoration: none;
-webkit-box-shadow: none; 
box-shadow: none; 
}
.wcstt-ccdiv.tabs-panel {
overflow: auto;
padding: 0.5em 0.9em;
border-style: solid;
border-width: 1px;
}
.heading {
padding-left:10px;
}
.tab-content{
overflow: auto;
padding: 0.5em 0.9em;
border-width: 1px;
}

.accordion-toggle {
	cursor: pointer;
	padding: 10px 5px 10px 5px;
	background-color: #eaeaea;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	text-transform: uppercase;
}

.accordion-content {
    overflow: auto;
    padding: 0.5em 0.9em;
    border-style: solid;
    border-width: 1px;
    border-color: #DFDFDF;
    display: none;
}
.accordion-content.default {
	display: block;
}