/**
 * Metabox Tabs
 */
ul.metabox-tabs li.active {
background-color: #F1F1F1;
}
ul.metabox-tabs li.active, div.tab-content {
border-color: #DFDFDF;
}
.metabox-tabs .active a {
color: #333;
font-weight: 900;
}
